
.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: #efefef;
  color: #333;
  margin-top: 1em;
}

.details {
  width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
