
.header {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 2em 1em;
    top: 0;
    color: #333;

    background: orange;

    justify-content: space-between;
    align-items: center;
}

  .header .back-button {
    border: 0;
    background-color: #1C305D;
    color: #efefef;
    border-radius: .2em;
    font-weight: bold;
  }
