
<loading-spinner [loading]="loading"></loading-spinner>

<div class="product-list">
  <div class="product-types">
    <div class="category-select">
      <h3>Categories:</h3>

      <small>{{ selectedCategory ?? "All Types" }}</small>
    </div>

    <ul>
      <li class="product-type" (click)="filterProductsByType('00000000-0000-0000-0000-000000000000')"><a>All Types</a></li>

      <li class="product-type" *ngFor="let type of productTypes; index as i;" (click)="filterProductsByType(type.ID)">
        <a>{{type.Name}}</a>
      </li>
    </ul>
  </div>

  <div class="products">
    <article *ngFor="let product of products; index as i;">
      <div class="text">
        <h3 class="name">{{ product.Name }}</h3>
        <small class="type-subhead">{{ product.ProductType.Name }}</small>
        <p class="desc">{{ (product.Desc.length > 100)? (product.Desc | slice:0:100)+'...':(product.Desc)}}</p>

        <button [routerLink]="['/product-details/', product.ID]">View Details</button>
      </div>
  </article>
</div>
</div>

